.body {
    background-color: #f2f2f2
}

#start {
    width: 100%;
    height: 100vh;
}

#projects {
    width: 100%;
    height: 100vh;
}

#about {
    width: 100%;
    height: 70vh;
    // background-color: #fff
}

#skills {
    width: 100%;
    height: 50vh;
    background-color: #fff
}

#contact {
    width: 100%;
    height: 70vh;
}

#footer {
    width: 100%;
    height: 20vh;
}